{% extends 'EventRequestOfferBundle:Offer:base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'EventRequestOfferBundle:Offer:_form.html.twig' %}
{% endif %}

{% block control %}

    {% block control_list %}
        {% if offers is defined %}
            {% if offers|length > 0 %}
                <h4>{{ 'offer.list'|trans }}:</h4>
                <table class="table">
                    <thead>
                        <th>{{ 'offer.field.manager'|trans }}</th>
                        <th>{{ 'offer.field.price'|trans }}</th>
                        <th>{{ 'offer.field.createdAt'|trans }}</th>
                        {% if selectable %}
                            <th>{{ 'offer.select'|trans }}</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.manager.username }}</td>
                                <td>{{ offer.price }}</td>
                                <td>{{ offer.createdAt|date('m.d.Y H:i') }}</td>
                                {% if selectable %}
                                    <td><a class="btn btn-success btn-xs" href="{{ path('event_request_offer_select', {'offerId': offer.id}) }}">{{ 'offer.select'|trans }}</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning" role="alert">{{ 'offer.no_one'|trans }}</div>
            {% endif %}
        {% endif %}
    {% endblock control_list %}

    {% block control_form %}
        {% if form is defined %}
            <hr/>
            {{ form(form) }}
        {% endif %}
    {% endblock control_form %}

{% endblock control %}
