{% extends "::base.html.twig" %}

{% block title %}
    {{- 'page.create.title'|trans ~ ' ∙ ' ~ parent() -}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            ...
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script type="text/javascript">{{ include('EventRequestEventBundle:Event:form.js.twig') }}</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}