<h1>{{ event.name }}</h1>
<p>{{ event.description }}</p>

<div class="row">
    <div class="col-md-3"><strong>{{ 'event.field.address'|trans }}</strong></div>
    <div class="col-md-9">{{ event.city.country.name }}, {{ event.city.name }}, {{ event.address }}</div>
    <div class="col-md-3"><strong>{{ 'event.field.date'|trans }}</strong></div>
    <div class="col-md-9">{{ event.date|date('m.d.Y H:i') }}</div>
    <div class="col-md-3"><strong>{{ 'event.field.user'|trans }}</strong></div>
    <div class="col-md-9">{{ event.client.username }}</div>
</div>